/* место для вашего кода */
.overflow {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1100px;
  height: 293px;
  padding-top: 92px;
  padding-bottom: 96px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 24px;
  margin-left: 24px;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  list-style: none;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  padding-right: 184px;
}

.header__logo-image {
  width: 129.11px;
  height: 104.65px;
}

.address {
  max-width: 240px;
  justify-self: end;
  flex-direction: column;
  align-items: flex-start;
}

.header__address {
  list-style: none;
  
}

.cover {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 757px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 180px;
  position: relative;
  margin-right: 24px;
  
}

.cover__title {
  text-transform: uppercase;
  font-size: 100px;
  line-height: 115%;
  color: #fff;
  width: 1000px;
  height: 385px;
  margin-top: 165px;
  margin-left: 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  margin-bottom: 20px;
}

.aligned-text_right {
  text-align: right;
  margin-left: 613px;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  width: 1000px;
  height: 51px;
  margin-left: 50px;
  margin-top: 106px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 15px;
}

.bet-button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-left: 107px;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  inset: 0;
  z-index: 0;
}

.lots {
  width: 1052px;
  height: 723px;
  margin-bottom: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  display: flex;
  padding-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.about {
  width: 1052px;
  height: 595px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  top: 50%;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  display: flex;
  flex-direction: column;
  width: 693px;
  height: 312px;
  gap: 24px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  padding-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 1100px;
  height: 180px;
  align-items: flex-start;
}

.footer__address {
  list-style: none;
}

.footer__menu-list {
  list-style: none;
  flex-direction: column;
  text-align: center;
}

.footer__social-list {
  display: flex;
  list-style: none;
  width: 240px;
  height: 48px;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
